@using TestApplication.Models

<!DOCTYPE html>
<html>
    <head>
        <title> ETL Service </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="app.css">
        <script type="text/javascript">
            function getSymbols()
            {
                try
                {
                    fetch("https://{localhost}/etl/getsymbols")
                        .then(res => res.json())
                        .then(data => console.log(data)); 
                }
                catch(e)
                {
                    console.log(e);
                }
            }

            function getIndustry()
            {
                try
                {
                    fetch("https://{localhost}/etl/etlview")
                        .then(res => res.json())
                        .then(data => this.etl.industry = data);
                }
                catch(e)
                {
                    console.log(e);
                }
            }

            function getSector()
            {
                try
                {
                    fetch("https://{localhost}/etl/etlview")
                        .then(res => res.json())
                        .then(data => this.etl.sector = data);
                }   
                catch(e)
                {
                    console.log(e);
                }
            }

            function getCompanies()
            {
                try
                {
                    fetch("https://{localhost}/etl/getcompanies")
                        .then(res => res.json())
                }
                catch(e)
                {
                    console.log(e);
                }
            }

            function loadRatingsData()
            {
                try
                {
                    fetch('https://{localhost}/etl/loadTechnicalData', {
                        method:'POST',
                        headers:{
                            'Accept':'application/json', 
                            'Content-Type':'application/json'
                        },
                        body: JSON.stringify({'test'})
                    })
                    .then(response => response.json())
                    .then(response => console.log(JSON.stringify(response)));
                }
                catch(e)
                {
                    console.log(e);
                }
            }

            function loadFinancialRatiosData()
            {
                try
                {
                    fetch('https://{localhost}/etl/loadGrowthData', {
                        method: 'POST', 
                        headers:{
                            'Accept':'application/json', 
                            'Content-Type':'application/json'
                        },
                        body: JSON.stringify({'test'})
                    })
                    .then(response => response.json())
                    .then(response => console.log(JSON.stringify(response)));
                }
                catch(e)
                {
                    console.log(e);
                }
            }

            function loadGrowthData()
            {
                try
                {
                    fetch('https://{localhost}/etl/loadGrowthData', {
                        method:'POST', 
                        headers:{
                            'Accept': 'application/json', 
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({'string'})
                    })
                    .then(response => response.json())
                    .then(response => console.log(JSON.stringify(response)));
                }
                catch(e)
                {
                    console.log(e);
                }
            }

            function loadTechnicalData()
            {
                try
                {
                    let data = document.getElementById("technicalDataBtn").files[0];
                 
                    fetch('https://{localhost}/ETL/loadTechnicalData',{
                        method:'POST',
                        mode:"cors",
                        headers:{
                            'Accept': 'application/json', 
                            'Content-Type': 'application/json',
                            'Access-Control-Allow-Origin': 'https://localhost:7116/'
                        },
                        body: JSON.stringify({data})
                    })
                    .then(response => response.json())
                    .then(response => console.log(JSON.stringify(response)));
                }
                catch(e)
                {
                    console.log(e);
                }
            }

        </script>
    </head>
    <body>
        <h1>ETL Service</h1>
   
            <span>
                <h4>Financial Ratios Data</h4>
                <input id="technicalDataBtn" type="file" name="file" >Load Technical Data</input> 
                <button onclick="loadTechnicalData()" name="submit">Upload Technical Data</button>
            </span>
            
            <span>
                <h4>Growth Data</h4>
                <input id="growthDataBtn" type="file" name="file" onclick="loadGrowthData()">Load Growth Data</input>
            </span>

            <span>
                <h4>Technical Data</h4>
                <input id="technicalDataBtn" type="file" name="file" onclick="loadTechnicalData()">Load Technical Data</input>
            </span>

            
    </body>
</html>
